Workflows.n8n/[3 Sub_Workflow] - [Get_Weather_ALERT].json
{
  "name": "[3 Sub_Workflow] - [Get_Weather_ALERT]",
  "nodes": [
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "gsa1",
        "remoteJid": "={{ $('Usuários Ativos').item.json.phone }}",
        "messageText": "={{ $json.message.content }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1680,
        -100
      ],
      "id": "98d80ead-de81-44ce-9126-cd252d154a8e",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "aIb9imEYfXzvHICn",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        100
      ],
      "id": "ab0eb155-9ff5-4e65-83d3-dab6be05f46a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "weather_subscriptions_duplicate",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "is",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "009bd46a-dbbe-419d-9613-284f6f29fc1a",
      "name": "Usuários Ativos",
      "credentials": {
        "supabaseApi": {
          "id": "zf02BT9sA7IkWyQz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "cityName": "={{ $json.city }}",
        "language": "pt"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "c9087fa8-4029-45c7-b311-0059f856569f",
      "name": "Verifica clima",
      "credentials": {
        "openWeatherMapApi": {
          "id": "teBNWUYWHLALrJbp",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f85bd3d9-7d70-4be4-b440-79c7d14b1292",
              "name": "city",
              "value": "={{ $('Usuários Ativos').item.json.city }}",
              "type": "string"
            },
            {
              "id": "61e84a87-7292-4b88-9a48-da967b54f701",
              "name": "main",
              "value": "={{ $json.weather[0].main }}",
              "type": "string"
            },
            {
              "id": "8ebd8eb0-d86d-405d-933d-756e73cb9803",
              "name": "description",
              "value": "={{ $json.weather[0].description }}",
              "type": "string"
            },
            {
              "id": "2556af4e-f697-4260-a52b-0758bdb5168e",
              "name": "temperatura",
              "value": "={{ $json.main.temp }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        0
      ],
      "id": "ec7d0759-f0e0-4641-9c63-580efea4c900",
      "name": "Dados importantes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b9c2d89-1104-49fe-9532-d754b5ccb112",
              "leftValue": "={{ $json.main }}",
              "rightValue": "Thunderstorm",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e4aba219-a75d-44ac-82ae-6cf5bb932a6e",
              "leftValue": "={{ $json.main }}",
              "rightValue": "Squall",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b3b4435e-cc84-4502-87b3-41c3b8da8378",
              "leftValue": "={{ $json.main }}",
              "rightValue": "Tornado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        0
      ],
      "id": "f7d4954a-4473-41d7-a8ef-daf1b8af9a40",
      "name": "É um alerta?"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=# Tarefa\nCrie uma mensagem curta de alerta climático para enviar via WhatsApp.\n\n## Dados de entrada\n- **Cidade**: {{ $('Dados importantes').item.json.city }}\n- **Condição**: {{ $json.weather[0].main }}  \n  • Ex.: Thunderstorm, Squall ou Tornado  \n- **Descrição**: {{ $json.weather[0].description }}  \n  • Em português, já vem da API  \n- **Temperatura**: {{ $json.main.temp }}°C\n\n## Regras de formatação\n1. Use um emoji de alerta no início (⚠️).\n2. Mensagem em **uma** frase curta (≤ 240 caracteres).\n3. Linguagem direta, informal e amigável (WhatsApp).\n4. Logo depois, **3 passos curtos** numerados (1‒3) sobre como agir. Termine sugerindo cuidado: “Fique atento!” ou equivalente. \n5. Não adicione quebras de linha nem hashtags.\n\n## Exemplo de saída\n⚠️ *ALERTA* de Tempestade em Santos: trovoada forte, 27 °C. \n\n1) Fique abrigado. \n2) Evite áreas abertas. \n3) Acompanhe novas atualizações. \n\nFique seguro!"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1280,
        -100
      ],
      "id": "96103447-03c8-4af7-9ddd-a4d397220e8a",
      "name": "Mensagem de alerta",
      "credentials": {
        "openAiApi": {
          "id": "FwnFjJHQIPeJjkC0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "883e9933-4908-4326-a665-12490adc1004",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Usuários Ativos": {
      "main": [
        [
          {
            "node": "Verifica clima",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica clima": {
      "main": [
        [
          {
            "node": "Dados importantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados importantes": {
      "main": [
        [
          {
            "node": "É um alerta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É um alerta?": {
      "main": [
        [
          {
            "node": "Mensagem de alerta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de alerta": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Usuários Ativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "02afca6b-0940-4fd9-88d3-61f83d4591e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a979f96a743759b647b290befce47e05c1fc228ee2e6e94d5b94c0338293e689"
  },
  "id": "omP50fITWTXnNUZK",
  "tags": [
    {
      "createdAt": "2025-07-09T03:24:29.505Z",
      "updatedAt": "2025-07-09T03:24:29.505Z",
      "id": "2YhR87h57pzZiSki",
      "name": "weather"
    },
    {
      "createdAt": "2025-07-09T03:24:22.453Z",
      "updatedAt": "2025-07-09T03:24:22.453Z",
      "id": "hCFqWeqrXkN7sOA3",
      "name": "sub_workflow"
    }
  ]
}
